/* Paramètres généraux */
@font-face {
    font-family: "font-reg";
    src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "font-bold";
    src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}

*::selection {
    background: coral;
    color: #fefeff;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100%;
}

body {
    font-family: "font-reg", serif;
    background: black;
    color: #fefeff;
    transition: 1s ease-in-out;
    width: 100vw;
    height: 100%;
}

h2 {
    font-size: calc(3rem + 4vw);
    text-align: center;
    color: rgb(212, 213, 219);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}

h3 {
    font-size: calc(0.8rem + 3vw);
    text-align: center;
    color: coral;
    font-family: "font-bold", serif;
    letter-spacing: 1px;
    margin-top: 70px;
}

.title {
    font-size: calc(1.5 + 5vw);
    letter-spacing: 0;
}

span {
    display: inline-block;
}

a,
a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw);
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #fefeff;
    height: 2px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}

a:hover {
    transform: scale(1.04);
    color: coral;
}

a:hover::after {
    animation: animlink 1.4s infinite ease-in-out;
}

@keyframes animlink {
    50% {
        transform: scaleX(0.2);
    }

    100% {
        transform: scaleX(1);
    }
}

.img {
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    filter: brightness(100%);
    transition: 1s;
}

.img:hover {
    filter: brightness(70%);
}

.line {
    height: 2px;
    width: 78%;
    margin: 0 auto;
    background: black;
    transition: 0.5s cubic-bezier(0.077, 0, 0.18, 1);
    /* transform-origin: left; */
    transition-delay: 0.4s;
    opacity: 0;
    transform: scaleX(0);
}

.lineW {
    height: 2px;
    width: 78%;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    transition: 0.5s cubic-bezier(0.077, 0, 0.18, 1);
    /* transform-origin: left; */
    transition-delay: 0.4s;
    opacity: 0;
    transform: scaleX(0);
}

.line-wrapper.is-inview .line {
    opacity: 1;
    transform: scaleX(1);
}

.wrapper {
    perspective: 900px;
}

.appear {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.appear.is-inview {
    transition-delay: 0.7s;
    opacity: 1;
    transform: none;
}


/* Paramètres par ordre d'apparition */
header {
    height: 100vh;
    position: relative;
    margin: 2vw 2vw;
}

.links {
    display: flex;
    justify-content: space-around;
}

#h1-wrapper {
    transition: 0.7s;
    margin-top: 90;
    margin-bottom: 90;
}

h1 {
    font-size: calc(2rem + 5vw);
    margin-top: 90px;
    font-family: "font-bold" serif;
    letter-spacing: 6px;
    color: #fefeff;
}

#h2-1 {
    transition: 1.2s;
}

header h2 {
    font-size: calc(1rem + 4vw);
    margin: 18px 0;
    text-align: left;
}

#h2-2 {
    transition: 1.6s;
}

.scroll-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 3.5vw;
    color: rgb(217, 217, 217);
    font-size: calc(0.8rem + 0.5vw);
}

.miniScroll {

    color: rgb(167, 167, 167);
    /* font-size: calc(0.5 + 3h2vw); */
    letter-spacing: 0;
}

.about {
    margin: 400px 0 250px;
}

.img1 {
    background: url(../assets/img/Photo-1-Redim.jpeg);
}

.h2-wrapper {
    mix-blend-mode: exclusion;
    margin: -265px 0 200px;
    /* text-align:center;
    text-justify: inter-character; */
}

.about p {
    width: 80%;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 3vw);
    font-size: calc(0.8rem + 1vw);
    letter-spacing: 1px;
}

.about h2 {
    font-size: calc(3.5rem + 5vw);
}

.skills {
    margin: 200px 0 250px;
}

.skills h2 {
    margin-bottom: 150px;
}

.skills .wrapper {
    margin: -15px 0;
}

.skills .appear {
    text-align: center;
    transition: 1.5s;
}

.skills p {
    font-size: calc(1rem + 1.4vw);
    font-family: "font-bold" serif;
    letter-spacing: 4px;
    background: black;
    color: #fefeff;
    display: inline-block;
    padding: 6px 12px 12px 12px;
}

.portfolio {
    margin: 200px 0;
}

.projects-container {
    /* margin-top: 100px; */
    /* justify-self: center; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project {
    /* display: flex; */
    /* justify-items: center; */

    /* width: 45vw; */
    max-width: 1000px;
    /* margin: 50px 5vw; */
}

.project::before {
    content: "";
    position: absolute;

    height: 100%;
    width: 100%;
    top: 0px;
    background: #fefeff;
    transition: width 1s ease-out;
    transition-delay: 0.8s;
}

.project.is-inview::before {
    width: 0;
}

#p1 {
    margin: 2vw;
}

#p2 {
    margin: -100px 3vw 0 auto;
}

/* #p3{
    margin: 2vw;
} */
.project img {
    transition: 0.4s ease-out;
    width: 100%;
}

.project:hover img {
    filter: brightness(20%);
}

.project:hover .projects-infos {
    opacity: 1;
    transform: translate(0, -50%);
}

.projects-infos {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10vw;
    transition: 0.4s ease-out;
    opacity: 0;

}

.projects-infos a {
    font-size: calc(0.9rem + 2vw);
}

.projects-infos p {
    font-size: 2rem;
    margin-top: 1.5vw;
    color: #fefeff;
}

footer {
    margin: 100px 0 100px;
}

footer p {
    font-size: calc(1rem + 2vw);
    margin: 20px;
    text-align: center;
}

#l2 {
    transition-delay: 1.2s;
}

#l3 {
    transition-delay: 1.6s;
}

footer a {
    font-family: "font-bold", serif;
    color: #000101;
    font-size: calc(1rem + 2vw);
}

.img2 {
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    background: url(../assets/img/img-footer-3.jpg) center/cover;
}

.invisible1 {
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 10px;
    width: 100px;
    height: 20px;
    transition: 0.9s;
}

.invisible1:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 10px;
    transition: 0.9s;
}

.invisible2 {
    opacity: 0;
    color: white;
    font-size: 10px;
    width: 75px;
    height: 20px;
    transition: 0.9s;
}

.invisible2:hover {
    opacity: 1;
    color: black;
    font-size: 10px;
    transition: 0.9s;
}

.easterEgg {
    width: 30px;
}

/* .mobileDev {
    visibility: hidden;
}

.mobileDevVis {
    visibility: visible;
} */



/* Carousel 1 */
@-webkit-keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slidein {
    0% {
        top: -400px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

@keyframes slideout {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -400px;
        opacity: 0;
    }
}

.bodyCar {
    /* background: #eee; */
    font-family: "Tahoma";
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bodyCar h2 {
    font-size: 75px;
    color: #f7f8ff;
}

.bodyCar #scene {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1000px;
    height: 400px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.bodyCar #scene #left-zone {
    background: #fff;
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: left;
}

.bodyCar #scene #left-zone .list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.bodyCar #scene #left-zone .list li.item input[type=radio] {
    display: none;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~label:first-letter {
    text-transform: uppercase;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~label:hover {
    opacity: 0.75;
    cursor: pointer;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~.content {
    position: absolute;
    left: 350px;
    top: -400px;
    width: 650px;
    min-height: 400px;
    background-position: center;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slideout;
    animation-name: slideout;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f7f8ff;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~.content p {
    margin-top: -30px;
    max-width: 75%;
    letter-spacing: 2px;
    text-align: center;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]~.content h2 {
    margin-top: -30px;
    /* max-width: 75%; */
    letter-spacing: 2px;
    text-align: center;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~label {
    opacity: 1;
    -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~label.label_strawberry {
    color: #D64541;
    border-right: solid 4px #D64541;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~label.label_banana {
    color: #F5D76E;
    border-right: solid 4px #F5D76E;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~label.label_apple {
    color: #00B16A;
    border-right: solid 4px #00B16A;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~label.label_orange {
    color: #F27935;
    border-right: solid 4px #F27935;
}

.bodyCar #scene #left-zone .list li.item input[type=radio]:checked~.content {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bodyCar #scene #middle-border {
    background-color: #eee;
    height: 75%;
    flex-grow: 1;
    max-width: 2px;
    z-index: 0;
}

.bodyCar #scene #right-zone {
    background: #fff;
    height: 100%;
    flex-grow: 3;
}

/* Carousel 2 */

@media screen and (max-width: 640px) {
    /* .mobileDev {
        visibility: visible;
    }

    .mobileDevVis {
        visibility: hidden;
    } */

    .img1 {
        background: url(../assets/img/Photo-1-RedimMobile.jpeg);
    }

    .img {
        height: 250px;
        width: 250px;
        max-height: 250px;
        max-width: 250px;
        /* max-width: 200px; */
        margin: 200px auto;
        filter: brightness(100%);
        transition: 1s;
    }

    #p1 {
        margin: auto;
        min-width: 350px;
        padding-bottom: 20px;
    }

    #p2 {
        margin: auto;
        min-width: 350px;
    }

    .title {
        font-size: 55px;
        letter-spacing: 0;
    }

    h3 {
        font-size: calc(0.55rem + 2.5vw);
        margin-bottom: 40px;
    }

    .bodyCar #scene {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 500px;
        height: 400px;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        overflow: hidden;
    }

    .bodyCar #scene #left-zone {
        background: #fff;
        height: 75%;
        flex-grow: 0;
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: left;
    }

    .bodyCar #scene #left-zone .list li.item input[type=radio]~.content {
        position: absolute;
        left: 150px;
        top: -400px;
        min-height: 400px;
        background-position: center;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-name: slideout;
        animation-name: slideout;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #f7f8ff;
    }

    .bodyCar #scene #left-zone .list li.item input[type=radio]~.content p {
        margin-top: -35px;
        margin-right: 425px;
        max-width: 28%;
        letter-spacing: 1px;
        text-align: left;
    }

    .bodyCar #scene #left-zone .list li.item input[type=radio]~.content a {
        margin-top: 10px;
        margin-right: 425px;
        max-width: 28%;
        letter-spacing: 1px;
        text-align: left;
    }

    .bodyCar #scene #left-zone .list li.item input[type=radio]~.content h2 {
        font-size: 22px;
        margin-top: -50px;
        margin-right: 425px;
        margin-left: 30px;
        padding-bottom: 40px;
        box-sizing: border-box;
        /* max-width: 75%; */
        letter-spacing: 1px;
        text-align: left;
    }

}