/* Paramètres généraux */
@font-face {
    font-family: "font-reg";
    src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "font-bold";
    src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}

*::selection {
    background: coral;
    color: #fefeff;
}

html {
    scroll-behavior: smooth;
    /* width: 100%;
        height: 100%; */
}

body {
    font-family: "font-reg", serif;
    background: black;
    color: #fefeff;
    transition: 1s ease-in-out;
}

h2 {
    font-size: calc(3rem + 4vw);
    text-align: center;
    color: rgb(217, 217, 217);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}
h3 {
    font-size: calc(0.8rem + 3vw);
    text-align: center;
    color: rgb(217, 217, 217);
    font-family: "font-bold", serif;
    letter-spacing: 2px;
}

.title {
    font-size: calc(1.5 + 5vw);
    letter-spacing: 0;
}

span {
    display: inline-block;
}

a,
a:visited {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw);
}

a::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #fefeff;
    height: 2px;
    bottom: -4px;
    left: 0;
    transform-origin: left;
}

a:hover {
    transform: scale(1.04);
    color: coral;
}

a:hover::after {
    animation: animlink 1.4s infinite ease-in-out;
}

@keyframes animlink {
    50% {
        transform: scaleX(0.2);
    }

    100% {
        transform: scaleX(1);
    }
}

.img {
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    filter: brightness(100%);
    transition: 1s;
}

.img:hover {
    filter: brightness(70%);
}

.line {
    height: 2px;
    width: 78%;
    margin: 0 auto;
    background: black;
    transition: 0.5s cubic-bezier(0.077, 0, 0.18, 1);
    /* transform-origin: left; */
    transition-delay: 0.4s;
    opacity: 0;
    transform: scaleX(0);
}

.line-wrapper.is-inview .line {
    opacity: 1;
    transform: scaleX(1);
}

.wrapper {
    perspective: 900px;
}

.appear {
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.appear.is-inview {
    transition-delay: 0.7s;
    opacity: 1;
    transform: none;
}


/* Paramètres par ordre d'apparition */
header {
    height: 100vh;
    position: relative;
    margin: 2vw 2vw;
}

.links {
    display: flex;
    justify-content: space-around;
}

#h1-wrapper {
    transition: 0.7s;
    margin-top: 90;
    margin-bottom: 90;
}

h1 {
    font-size: calc(2rem + 5vw);
    margin-top: 90px;
    font-family: "font-bold" serif;
    letter-spacing: 6px;
    color: #fefeff;
}

#h2-1 {
    transition: 1.2s;
}

header h2 {
    font-size: calc(1rem + 4vw);
    margin: 18px 0;
    text-align: left;
}

#h2-2 {
    transition: 1.6s;
}

.scroll-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 3.5vw;
    color: rgb(217, 217, 217);
    font-size: calc(0.8rem + 0.5vw);
}
.miniScroll{
    
        color: rgb(167, 167, 167);
    /* font-size: calc(0.5 + 3h2vw); */
        letter-spacing: 0;
}

.about {
    margin: 400px 0 250px;
}

.img1 {
    background: url(../assets/img/Photo-1-Redim.jpeg);
}

.h2-wrapper {
    mix-blend-mode: exclusion;
    margin: -265px 0 200px;
    /* text-align:center;
    text-justify: inter-character; */
}

.about p {
    width: 80%;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 3vw);
    font-size: calc(0.8rem + 1vw);
    letter-spacing: 1px;
}

.about h2 {
    font-size: calc(3.5rem + 5vw);
}

.skills {
    margin: 200px 0 250px;
}

.skills h2 {
    margin-bottom: 150px;
}

.skills .wrapper {
    margin: -15px 0;
}

.skills .appear {
    text-align: center;
    transition: 1.5s;
}

.skills p {
    font-size: calc(1rem + 1.4vw);
    font-family: "font-bold" serif;
    letter-spacing: 4px;
    background: black;
    color: #fefeff;
    display: inline-block;
    padding: 6px 12px 12px 12px;
}

.portfolio {
    margin: 200px 0;
}

.projects-container {
    margin-top: 100px;
}

.project {
    position: relative; 
    width: 45vw;
    max-width: 700px;
    margin: 50px 5vw;
}

.project::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3px;
    background: #fefeff;
    transition: width 1s ease-out;
    transition-delay: 0.8s;
}

.project.is-inview::before {
    width: 0;
}

#p1 {
    margin: 2vw;
}

#p2 {
    margin: -100px 2vw 0 auto;
}

/* #p3{
    margin: 2vw;
} */
.project img {
    transition: 0.4s ease-out;
    width: 100%;
}

.project:hover img {
    filter: brightness(20%);
}

.project:hover .projects-infos {
    opacity: 1;
    transform: translate(0, -50%);
}

.projects-infos {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3vw;
    transition: 0.4s ease-out;
    opacity: 0;
}

.projects-infos a {
    font-size: calc(0.9rem + 2vw);
}

.projects-infos p {
    font-size: 2rem;
    margin-top: 1.5vw;
    color: #fefeff;
}

footer {
    margin: 100px 0 100px;
}

footer p {
    font-size: calc(1rem + 2vw);
    margin: 20px;
    text-align: center;
}

#l2 {
    transition-delay: 1.2s;
}

#l3 {
    transition-delay: 1.6s;
}

footer a {
    font-family: "font-bold", serif;
    color: #000101;
    font-size: calc(1rem + 2vw);
}

.img2 {
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    background: url(../assets/img/img-footer-3.jpg) center/cover;
}

.invisible1 {
    opacity: 0;
    color: rgb(0, 0, 0);
    font-size: 10px;
    width: 100px;
    height: 20px;
    transition: 0.9s;
}

.invisible1:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
    font-size: 10px;
    transition: 0.9s;
}

.invisible2 {
    opacity: 0;
    color: white;
    font-size: 10px;
    width: 75px;
    height: 20px;
    transition: 0.9s;
}

.invisible2:hover {
    opacity: 1;
    color: black;
    font-size: 10px;
    transition: 0.9s;
}

.easterEgg {
    width: 30px;
}



@media screen and (max-width: 640px) {
    .img1 {
        background: url(../assets/img/Photo-1-RedimMobile.jpeg);
    }

    .img {
        height: 250px;
        width: 250px;
        max-height: 250px;
        max-width: 250px;
        /* max-width: 200px; */
        margin: 200px auto;
        filter: brightness(100%);
        transition: 1s;
    }

    #p1 {
        margin: auto;
        min-width: 350px;
        padding-bottom: 20px;
    }

    #p2 {
        margin: auto;
        min-width: 350px;
    }

    .title {
        font-size: 55px;
        letter-spacing: 0;
    }

}

/* Caroussel */

.seCarousel {
    background: #f4f4f4;
    padding: 50px 0;
}

.contCarousel {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}

.carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}

.carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

.carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide figure {
    display: flex;
    margin: 0;
}

.carousel__slide div {
    position: relative;
    width: 100%;
}

.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}

.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__slides+.carousel__thumbnails {
    margin-top: 20px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
    cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}